<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for i in todoList %}
            <li>{{i.content}}</li>
            <a href="{% url 'deleteContent' i.id %}">Delete</a>
            <a href="{% url 'editContent' i.id %}">Edit</a>
        {% endfor %}
    </ul>

    <form action="{% url 'addTodoItem' %}" method="post">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Add">
        
    </form>
</body>
</html>
